<img src="https://img.shields.io/badge/stability-stable-green.svg" style="padding-bottom: 5px;" alt="stability-stable"/>
<a href="http://badge.fury.io/js/{{packageName}}" target="_blank">
  <img src="http://badge.fury.io/js/{{packageName}}.svg" alt="npm version"/>
</a>
<img src="https://img.shields.io/npm/dy/{{packageName}}.svg" alt="downloads"/>
<a href="http://circleci.com/gh/{{organizationName}}/{{packageName}}" target="_blank">
  <img src="http://circleci.com/gh/{{organizationName}}/{{packageName}}.svg?style=shield" alt="CircleCI"/>
</a>
<a href="http://codeclimate.com/github/{{organizationName}}/{{packageName}}" target="_blank">
  <img src="http://codeclimate.com/github/{{organizationName}}/{{packageName}}/badges/gpa.svg" alt="Code Climate"/>
</a>
<img src="http://david-dm.org/{{organizationName}}/{{packageName}}.svg" alt="Dependencies"/>
<a href="http://emberobserver.com/addons/{{packageName}}" target="_blank">
  <img src="http://emberobserver.com/badges/{{packageName}}.svg" alt="ember-observer-badge"/>
</a>
{{img-embadge embadgeEnd=embadgeEnd embadgeLabel=embadgeLabel embadgeRange=embadgeRange embadgeStart=embadgeStart}}
<a href="https://github.com/{{organizationName}}/{{packageName}}/blob/master/LICENSE.md" target="_blank">
  <img src="http://img.shields.io/npm/l/{{packageName}}.svg" alt="License"/>
</a>
